* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffd6e0;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
header {
  background: #ff99b9;
  padding: 1rem 2rem;
}

